body {
  background-color: #eeeeee;
  color: #424242;
  margin: 0;
  font-family:"Helvetica Neue",sans-serif;
  font-size:20px;
  line-height:1.428571429;
  padding-bottom:80px;
}



p {
font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande",sans-serif;
font-size:18px;
}
